<ul class="list-group list-group-flush">
    <li class="list-group-item"><%= render 'comments/form', post: post %></li>
    <% if post.comments.any?%>
        <% post.comments_ordered.each do |comment| %>
            <li class="list-group-item">
                <%= link_to comment.author.name, comment.author, class: "card-link" %> 
                <%= comment.content %>
                <% if comment.belongs_to?(current_user) %>
                    <%= render 'comments/delete_form', comment: comment %>
                <% end %>
                <span id="comment-date" class="text-muted"><%= comment.created_time %></span>
            </li>
        <% end %>
    <% end %>
</ul>
