<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-subtitle mb-3 text-muted"><%= link_to post.author.name, post.author, class: 'card-link' %></h5>
        <h6 class= "card-subtitle mb-3 text-muted"><%= post.created_time %></h6>
        <p class="card-text"><%= post.content %></p>

        <% if post.belongs_to?(current_user) %>
            <%= render 'posts/delete_form', post: post %>
        <% end %>

        <%= render 'like_relationships/form', post: post%>

        <%= "(#{post.users_liking.count})"%>
    </div>
    <%= render 'comments/comment', post: post%>

</div>

